


/* --------------------------------------
   Layout
   -------------------------------------- */
#searchInput{
    width: 500px;
}

#staffDetails{
	text-align:center;
}

#staffDetails img{
	margin: 0 0 20px;
}

#stfmember{
	text-align:center;
	background:#DEDEDE;
}

#btnMenu{
	text-align:center;
	padding:60px 400px;
}

#mainPage{

    background-image:url('../../Images/mainback.jpg');
}

#signInButton{

    position:absolute;
    width:100px;
    height:100px;
    z-index:15;
    top:80%;
    left:52%;
    margin:-100px 0 0 -100px;


}

#signBtn{

    background-color: #AD855C;
    border-color: 	#000000;
    color:#000000;
    font-size: 20px;
}

#alertAddSupplier{

    font-size: 20px;
    background-color: greenyellow;

}




/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar-brand{
	padding: 13px 15px;
}
   
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
#Company .item{height: 570px;
}

#slide1{
	background: url('../../Images/slide1pic_medium.jpg') top center no-repeat;
}

#slide2{
	background: url('../../Images/slide2pic_medium.jpg') top center no-repeat;
}

#slide3{
	background: url('../../Images/slide3pic_medium.jpg') top center no-repeat;
}

#Company{height: 570px;}


/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}

footer{
	background: #333;
	color: #eee;
	font-size:16px;
	padding:20px;
}


/* --------------------------------------
   Changing Effect
   -------------------------------------- */

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}